<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnection" connectionString="Server=vmxlinux01.progettidiimpresa.it;
                    user id=operando_report;
                    password=opera22!;
                    persist security info=True;
                    database=operando_report;
                    Convert Zero Datetime=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
