@using DemoDataExtract2.Models;

@model DemoDataExtract2.Models.ExtractJob

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Subscription";
}

<h2>
    Subscription to @Model.JobName
</h2>

@using (Html.BeginForm("Schedule","Extracts"))
{
    <!--The job id is needed to update the extract's details, but the user does not need to see it-->
    <input type="hidden" name="id" value= @Model.JobId>
    <input type="hidden" name="name" value=@Model.JobName>

    @:Frequency of extract: 
    <select name="frequency">
        <option value="never" @{if (Model.Subscription.Frequency.Equals("never")) { <text>selected</text>} }>never</option>
        <option value="daily" @{if (Model.Subscription.Frequency.Equals("daily")) { <text>selected</text>} }>daily</option>
        <option value="weekly" @{if (Model.Subscription.Frequency.Equals("weekly")) { <text>selected</text>} }>weekly</option>
        <option value="monthly" @{if (Model.Subscription.Frequency.Equals("monthly")) { <text>selected</text>} }>monthly</option>
        <option value="yearly" @{if (Model.Subscription.Frequency.Equals("yearly")) { <text>selected</text>} }>yearly</option>
    </select><br>
    <br>
    <input type="submit" value="Update Subscription Preferences">
}