
@{
    ViewBag.MenuSection = "PSP Admin";
    ViewBag.Title = "Users Management Add";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}
@using eu.operando.core.pdb.cli.Model;
@Model IList<OSPPrivacyPolicy>

    <script type="text/javascript">

        // Il numero che gli viene passato è quello da mantenere, gli altri vengono nascosti
        function hideTab(prefisso, numero) {
            $('div[id^=' + prefisso + ']').hide();
            $('#' + prefisso + numero).show();
        }

    </script>

    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="m-heading-1 border-grey-silver m-bordered">
                <p>
                    Lorem USER ipsum dolor sit amet, consectetur adipiscing elit. Donec velit ex, porta id blandit non, imperdiet id lectus. Etiam ut mi imperdiet, tempor purus ac, imperdiet urna. Duis dictum eros ut mauris pulvinar luctus. Pellentesque cursus eget ante eget auctor. Mauris porttitor dapibus laoreet. In molestie eros ultrices enim hendrerit congue. In aliquam accumsan posuere. Nam laoreet diam purus, nec mattis sapien pulvinar faucibus. Proin vehicula, odio nec aliquet pulvinar, nisi sapien cursus ex, a consectetur massa nisl tincidunt lorem. Sed vel arcu quam. Aliquam auctor quam non diam eleifend mollis.

                </p>
            </div>

            <!--  ------------------------------------------------------------------------------------------- -->
            <!--  --------------------------- Add User ------------------------------------------------ -->
            <!--  ------------------------------------------------------------------------------------------- -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tabUserManagement02">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div class="tabbable-custom tabbable-custom-operando-top">
                                <div class="tab-content">
                                    <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span class="caption-subject font-dark bold uppercase">Add New Usder</span>
                                            </div>
                                        </div>
                                        <span class="font-dark">Create a brand new user and add them to this Operando</span>

                                    </div>
                                    <div class="portlet-body">
                                        <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                            <div class="row">
                                                    <div class="col-md-12">
@*
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-3 control-label">Username</label>
                <div class="col-md-6">
                    <input type="text" id="Username_add" class="form-control" placeholder="Username required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">E-mail</label>
                <div class="col-md-6">
                    <input type="text" id="E-mail_add" class="form-control" placeholder="E-mail required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">User type</label>
                <div class="col-md-6">
                    <select id="UserType_add" class="form-control bs-select">
                        <option value="0" selected="">UPP</option>
                        <option value="1" selected="">OSP Admin</option>
                        <option value="2" selected="">PSP Admin</option>
                        <option value="3" selected="">PSP Analyst</option>
                    </select>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-3 control-label">Send user notification</label>
                <div class="col-md-6">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input name="tnc" type="checkbox" checked> Send the new user an email about their account<span></span>
                    </label>
                </div></label>
            </div>

        </form>
*@
                                                @Html.ValidationSummary(false)
                                                <form class="login-form" method="post">
                                                    <p class="hint"> Enter your personal details below: </p>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">Full Name</label>
                                                        <input class="form-control placeholder-no-fix" type="text" placeholder="Full Name" name="fullname" />
                                                    </div>
                                                    <div class="form-group">
                                                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                                        <label class="control-label visible-ie8 visible-ie9">Email</label>
                                                        <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">Address</label>
                                                        <input class="form-control placeholder-no-fix" type="text" placeholder="Address" name="address" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">City/Town</label>
                                                        <input class="form-control placeholder-no-fix" type="text" placeholder="City/Town" name="city" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">Country</label>
                                                        <select name="country" class="form-control">
                                                            <option value="">Country</option>
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AS">American Samoa</option>
                                                            <option value="AD">Andorra</option>
                                                            <option value="AO">Angola</option>
                                                            <option value="AI">Anguilla</option>
                                                            <option value="AR">Argentina</option>
                                                            <option value="AM">Armenia</option>
                                                            <option value="AW">Aruba</option>
                                                            <option value="AU">Australia</option>
                                                            <option value="AT">Austria</option>
                                                            <option value="AZ">Azerbaijan</option>
                                                            <option value="BS">Bahamas</option>
                                                            <option value="BH">Bahrain</option>
                                                            <option value="BD">Bangladesh</option>
                                                            <option value="BB">Barbados</option>
                                                            <option value="BY">Belarus</option>
                                                            <option value="BE">Belgium</option>
                                                            <option value="BZ">Belize</option>
                                                            <option value="BJ">Benin</option>
                                                            <option value="BM">Bermuda</option>
                                                            <option value="BT">Bhutan</option>
                                                            <option value="BO">Bolivia</option>
                                                            <option value="BA">Bosnia and Herzegowina</option>
                                                            <option value="BW">Botswana</option>
                                                            <option value="BV">Bouvet Island</option>
                                                            <option value="BR">Brazil</option>
                                                            <option value="IO">British Indian Ocean Territory</option>
                                                            <option value="BN">Brunei Darussalam</option>
                                                            <option value="BG">Bulgaria</option>
                                                            <option value="BF">Burkina Faso</option>
                                                            <option value="BI">Burundi</option>
                                                            <option value="KH">Cambodia</option>
                                                            <option value="CM">Cameroon</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="CV">Cape Verde</option>
                                                            <option value="KY">Cayman Islands</option>
                                                            <option value="CF">Central African Republic</option>
                                                            <option value="TD">Chad</option>
                                                            <option value="CL">Chile</option>
                                                            <option value="CN">China</option>
                                                            <option value="CX">Christmas Island</option>
                                                            <option value="CC">Cocos (Keeling) Islands</option>
                                                            <option value="CO">Colombia</option>
                                                            <option value="KM">Comoros</option>
                                                            <option value="CG">Congo</option>
                                                            <option value="CD">Congo, the Democratic Republic of the</option>
                                                            <option value="CK">Cook Islands</option>
                                                            <option value="CR">Costa Rica</option>
                                                            <option value="CI">Cote d'Ivoire</option>
                                                            <option value="HR">Croatia (Hrvatska)</option>
                                                            <option value="CU">Cuba</option>
                                                            <option value="CY">Cyprus</option>
                                                            <option value="CZ">Czech Republic</option>
                                                            <option value="DK">Denmark</option>
                                                            <option value="DJ">Djibouti</option>
                                                            <option value="DM">Dominica</option>
                                                            <option value="DO">Dominican Republic</option>
                                                            <option value="EC">Ecuador</option>
                                                            <option value="EG">Egypt</option>
                                                            <option value="SV">El Salvador</option>
                                                            <option value="GQ">Equatorial Guinea</option>
                                                            <option value="ER">Eritrea</option>
                                                            <option value="EE">Estonia</option>
                                                            <option value="ET">Ethiopia</option>
                                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                                            <option value="FO">Faroe Islands</option>
                                                            <option value="FJ">Fiji</option>
                                                            <option value="FI">Finland</option>
                                                            <option value="FR">France</option>
                                                            <option value="GF">French Guiana</option>
                                                            <option value="PF">French Polynesia</option>
                                                            <option value="TF">French Southern Territories</option>
                                                            <option value="GA">Gabon</option>
                                                            <option value="GM">Gambia</option>
                                                            <option value="GE">Georgia</option>
                                                            <option value="DE">Germany</option>
                                                            <option value="GH">Ghana</option>
                                                            <option value="GI">Gibraltar</option>
                                                            <option value="GR">Greece</option>
                                                            <option value="GL">Greenland</option>
                                                            <option value="GD">Grenada</option>
                                                            <option value="GP">Guadeloupe</option>
                                                            <option value="GU">Guam</option>
                                                            <option value="GT">Guatemala</option>
                                                            <option value="GN">Guinea</option>
                                                            <option value="GW">Guinea-Bissau</option>
                                                            <option value="GY">Guyana</option>
                                                            <option value="HT">Haiti</option>
                                                            <option value="HM">Heard and Mc Donald Islands</option>
                                                            <option value="VA">Holy See (Vatican City State)</option>
                                                            <option value="HN">Honduras</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="HU">Hungary</option>
                                                            <option value="IS">Iceland</option>
                                                            <option value="IN">India</option>
                                                            <option value="ID">Indonesia</option>
                                                            <option value="IR">Iran (Islamic Republic of)</option>
                                                            <option value="IQ">Iraq</option>
                                                            <option value="IE">Ireland</option>
                                                            <option value="IL">Israel</option>
                                                            <option value="IT">Italy</option>
                                                            <option value="JM">Jamaica</option>
                                                            <option value="JP">Japan</option>
                                                            <option value="JO">Jordan</option>
                                                            <option value="KZ">Kazakhstan</option>
                                                            <option value="KE">Kenya</option>
                                                            <option value="KI">Kiribati</option>
                                                            <option value="KP">Korea, Democratic People's Republic of</option>
                                                            <option value="KR">Korea, Republic of</option>
                                                            <option value="KW">Kuwait</option>
                                                            <option value="KG">Kyrgyzstan</option>
                                                            <option value="LA">Lao People's Democratic Republic</option>
                                                            <option value="LV">Latvia</option>
                                                            <option value="LB">Lebanon</option>
                                                            <option value="LS">Lesotho</option>
                                                            <option value="LR">Liberia</option>
                                                            <option value="LY">Libyan Arab Jamahiriya</option>
                                                            <option value="LI">Liechtenstein</option>
                                                            <option value="LT">Lithuania</option>
                                                            <option value="LU">Luxembourg</option>
                                                            <option value="MO">Macau</option>
                                                            <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                                            <option value="MG">Madagascar</option>
                                                            <option value="MW">Malawi</option>
                                                            <option value="MY">Malaysia</option>
                                                            <option value="MV">Maldives</option>
                                                            <option value="ML">Mali</option>
                                                            <option value="MT">Malta</option>
                                                            <option value="MH">Marshall Islands</option>
                                                            <option value="MQ">Martinique</option>
                                                            <option value="MR">Mauritania</option>
                                                            <option value="MU">Mauritius</option>
                                                            <option value="YT">Mayotte</option>
                                                            <option value="MX">Mexico</option>
                                                            <option value="FM">Micronesia, Federated States of</option>
                                                            <option value="MD">Moldova, Republic of</option>
                                                            <option value="MC">Monaco</option>
                                                            <option value="MN">Mongolia</option>
                                                            <option value="MS">Montserrat</option>
                                                            <option value="MA">Morocco</option>
                                                            <option value="MZ">Mozambique</option>
                                                            <option value="MM">Myanmar</option>
                                                            <option value="NA">Namibia</option>
                                                            <option value="NR">Nauru</option>
                                                            <option value="NP">Nepal</option>
                                                            <option value="NL">Netherlands</option>
                                                            <option value="AN">Netherlands Antilles</option>
                                                            <option value="NC">New Caledonia</option>
                                                            <option value="NZ">New Zealand</option>
                                                            <option value="NI">Nicaragua</option>
                                                            <option value="NE">Niger</option>
                                                            <option value="NG">Nigeria</option>
                                                            <option value="NU">Niue</option>
                                                            <option value="NF">Norfolk Island</option>
                                                            <option value="MP">Northern Mariana Islands</option>
                                                            <option value="NO">Norway</option>
                                                            <option value="OM">Oman</option>
                                                            <option value="PK">Pakistan</option>
                                                            <option value="PW">Palau</option>
                                                            <option value="PA">Panama</option>
                                                            <option value="PG">Papua New Guinea</option>
                                                            <option value="PY">Paraguay</option>
                                                            <option value="PE">Peru</option>
                                                            <option value="PH">Philippines</option>
                                                            <option value="PN">Pitcairn</option>
                                                            <option value="PL">Poland</option>
                                                            <option value="PT">Portugal</option>
                                                            <option value="PR">Puerto Rico</option>
                                                            <option value="QA">Qatar</option>
                                                            <option value="RE">Reunion</option>
                                                            <option value="RO">Romania</option>
                                                            <option value="RU">Russian Federation</option>
                                                            <option value="RW">Rwanda</option>
                                                            <option value="KN">Saint Kitts and Nevis</option>
                                                            <option value="LC">Saint LUCIA</option>
                                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                                            <option value="WS">Samoa</option>
                                                            <option value="SM">San Marino</option>
                                                            <option value="ST">Sao Tome and Principe</option>
                                                            <option value="SA">Saudi Arabia</option>
                                                            <option value="SN">Senegal</option>
                                                            <option value="SC">Seychelles</option>
                                                            <option value="SL">Sierra Leone</option>
                                                            <option value="SG">Singapore</option>
                                                            <option value="SK">Slovakia (Slovak Republic)</option>
                                                            <option value="SI">Slovenia</option>
                                                            <option value="SB">Solomon Islands</option>
                                                            <option value="SO">Somalia</option>
                                                            <option value="ZA">South Africa</option>
                                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                            <option value="ES">Spain</option>
                                                            <option value="LK">Sri Lanka</option>
                                                            <option value="SH">St. Helena</option>
                                                            <option value="PM">St. Pierre and Miquelon</option>
                                                            <option value="SD">Sudan</option>
                                                            <option value="SR">Suriname</option>
                                                            <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                                            <option value="SZ">Swaziland</option>
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                                                            <option value="SY">Syrian Arab Republic</option>
                                                            <option value="TW">Taiwan, Province of China</option>
                                                            <option value="TJ">Tajikistan</option>
                                                            <option value="TZ">Tanzania, United Republic of</option>
                                                            <option value="TH">Thailand</option>
                                                            <option value="TG">Togo</option>
                                                            <option value="TK">Tokelau</option>
                                                            <option value="TO">Tonga</option>
                                                            <option value="TT">Trinidad and Tobago</option>
                                                            <option value="TN">Tunisia</option>
                                                            <option value="TR">Turkey</option>
                                                            <option value="TM">Turkmenistan</option>
                                                            <option value="TC">Turks and Caicos Islands</option>
                                                            <option value="TV">Tuvalu</option>
                                                            <option value="UG">Uganda</option>
                                                            <option value="UA">Ukraine</option>
                                                            <option value="AE">United Arab Emirates</option>
                                                            <option value="GB">United Kingdom</option>
                                                            <option value="US">United States</option>
                                                            <option value="UM">United States Minor Outlying Islands</option>
                                                            <option value="UY">Uruguay</option>
                                                            <option value="UZ">Uzbekistan</option>
                                                            <option value="VU">Vanuatu</option>
                                                            <option value="VE">Venezuela</option>
                                                            <option value="VN">Viet Nam</option>
                                                            <option value="VG">Virgin Islands (British)</option>
                                                            <option value="VI">Virgin Islands (U.S.)</option>
                                                            <option value="WF">Wallis and Futuna Islands</option>
                                                            <option value="EH">Western Sahara</option>
                                                            <option value="YE">Yemen</option>
                                                            <option value="ZM">Zambia</option>
                                                            <option value="ZW">Zimbabwe</option>
                                                        </select>
                                                    </div>
                                                    <p class="hint">Choose your OSP:</p>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">Country</label>
                                                        <select name="osp" class="form-control">
                                                            @foreach (var osp in ViewBag.ospList)
                                                            {
                                                                <option value="@osp.PolicyUrl">@osp.PolicyUrl</option>
                                                            }
                                                        </select>
                                                    </div>

                                                    <p class="hint"> Enter your account details below: </p>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">User type</label>
                                                        <select name="usertype" class="form-control">
                                                            <option value="">User type</option>
                                                            <option value="psp_analyst">PSP Analyst</option>
                                                            <option value="psp_admin">PSP Admin</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">Username</label>
                                                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">Password</label>
                                                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                                                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="confirmpassword" />
                                                    </div>
                                                    <div class="form-group margin-top-20 margin-bottom-20">
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox" name="tnc" /> I agree to the
                                                            <a class="font-yellow-gold" href="javascript:;">Terms of Service </a> &
                                                            <a class="font-yellow-gold" href="javascript:;">Privacy Policy </a>
                                                            <span></span>
                                                        </label>
                                                        <div id="register_tnc_error"> </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <button onclick="window.history.back()" id="register-back-btn" class="btn orange btn-outline">Back</button>
                                                        <button type="submit" id="register-submit-btn" class="btn orange uppercase pull-right">Submit</button>
                                                    </div>
                                                </form>
                                                        </div>
                                            </div>
                                            <div class="portlet-footer">
                                                <label class="col-md-3 control-label"></label>
                                                <div class="col-md-6">
                                                    <button type="button" id="button_add" onclick="addUser()" class="btn yellow-gold mt-sweetalert" data-title="Success" data-message="Success message" data-type="success" data-allow-outside-click="true" data-confirm-button-class="btn-success">Add new user</button>
                                                    <button onclick="$('#tabUserManagement02').removeClass('active'); $('#tabUserManagement01').addClass('active');" type="button" class="btn default">Cancel</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  ------------------------------------------------------------------------------------------- -->
            <!--  ------------------------------  END PAGE BASE CONTENT ------------------------------------- -->
            <!--  ------------------------------------------------------------------------------------------- -->

            <script>
                function addUser() {
                    alert("Adding user alert!");
                }
            </script>
            @section PagePluginStyles {
                <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
                <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
                <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
                <link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
                <link href="~/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
                <link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
                <link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
            }
            @section PageStyles {
                <style>
                    div#userManagement_psp_filter.dataTables_filter label input.form-control.input-sm.input-small.input-inline {
                        font-size: 15px;
                    }

                    .form-control::-moz-placeholder {
                        color: #444;
                        opacity: 1;
                    }

                    .form-control::-webkit-input-placeholder {
                        color: #444;
                        opacity: 1;
                    }

                    .form-control:-ms-input-placeholder {
                        color: #444;
                        opacity: 1;
                    }
                </style>

            }
            @section PagePlugins {
                <script src="~/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
                <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js" type="text/javascript"></script>
                <script src="~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
            }
            @section PageScripts {
                <script src="~/assets/pages/scripts/ui-confirmations.min.js" type="text/javascript"></script>
                <script src="~/assets/pages/scripts/ui-sweetalert_operandoReportsManager.js" type="text/javascript"></script>
                <script src="~/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
                <script src="~/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
                <script src="~/assets/pages/scripts/form-input-mask.js" type="text/javascript"></script>
                <script src="~/Scripts/jquery.numeric.min.js" type="text/javascript"></script>
                @* the next js creates filter, search and pagination on the tables *@
                <script src="~/assets/pages/scripts/operando-usermanagement-table-managed.js" type="text/javascript"></script>
                <script src="~/assets/pages/scripts/operando-usermanagement-bootstrap-select.js" type="text/javascript"></script>
            }
