
@{
    ViewBag.MenuSection = "Data Subject";
    ViewBag.Title = "Access Preferences";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}

<!-- BEGIN PAGE BASE CONTENT -->
<div class="portlet-body font-grey-gallery">
    <div class="tabbable-custom-operando col-md-3 col-sm-3 col-xs-3">    
        <ul class="nav nav-tabs tabs-left">
            <li>
                <a href="#tab_1_1" data-toggle="tab" aria-expanded="false"> Demo OSP  </a>
            </li>
            <li class="active">
                <a href="#tab_1_2" data-toggle="tab" aria-expanded="true"> Hospital OSP </a>
            </li>
            <li>
                <a href="#tab_1_3" data-toggle="tab" aria-expanded="false" > Food Coach Demo </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9 tabs-custom-operando">
        <div class="tab-content">
            <!-- BEGIN TAB 1 CONTENT -->
            <div class="portlet light tab-pane fade" id="tab_1_1">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">Privacy wizard</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="col-md-10">
                        <p>You can use our privacy wizard to generate a recomended privacy policy quickly and easily.</p>
                    </div>
                    <div class="col-md-2 text-right">
                        <p>
                            <button type="button" class="btn yellow-gold">Start</button>
                        </p>
                    </div>
                </div>
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">Demo OSP privacy settings</span>
                    </div>
                </div>
                <div class="portlet-body">

                </div>
            </div>
            <!-- END TAB 1 CONTENT -->
            <!-- BEGIN TAB 2 CONTENT -->
            <div class="portlet light tab-pane active" id="tab_1_2">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">Privacy wizard</span>
                    </div>
                </div> 
                <div class="portlet-body">
                    <div class="col-md-10">
                        <p>You can use our privacy wizard to generate a recomended privacy policy quickly and easily.</p>
                    </div>
                    <div class="col-md-2 text-right">
                        <p>
                            <button type="button" class="btn yellow-gold">Start</button>
                        </p>
                    </div>
                </div>
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">Hospital OSP privacy settings</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <p>Your privacy settings are:</p>
                    <form class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-7 control-label">Administrator should be able to access the following data:</label>
                                <div class="col-md-5">
                                    <div class="mt-checkbox-list">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" checked="checked"> Financial Information
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox"> Family and Relations
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox"> Home town
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-7 control-label">Doctor should be able to access the following data:</label>
                                <div class="col-md-5">
                                    <div class="mt-checkbox-list">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" checked="checked"> Medical Information
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" checked="checked"> Financial Information
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox"> Transport Information
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="submit" class="btn yellow-gold">Update UPP</button>
                            <button type="button" class="btn default">Back to default values</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END TAB 2 CONTENT -->
            <!-- BEGIN TAB 3 CONTENT -->
            <div class="portlet light tab-pane fade" id="tab_1_3">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">Privacy wizard</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="col-md-10">
                        <p>You can use our privacy wizard to generate a recomended privacy policy quickly and easily.</p>
                    </div>
                    <div class="col-md-2 text-right">
                        <p>
                            <button type="button" class="btn yellow-gold">Start</button>
                        </p>
                    </div>
                </div>
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">Food Coach Demo privacy settings</span>
                    </div>
                </div>
                <div class="portlet-body">

                </div>
            </div>
            <!-- END TAB 3 CONTENT -->
        </div>
    </div>
</div>

<!-- END PAGE BASE CONTENT -->


@section PagePluginStyles {

}

@section PageStyles {

}

@section PagePlugins {

}

@section PageScripts {

}
