@model Operando_AdministrationConsole.Models.PspAnalystModels.BigDataScheduleModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Add Schedule</h4>
        </div>
        @using (Html.BeginForm("AddSchedule", "PspAnalyst", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                @Html.Partial("ModelEditors/ScheduleEditorModal", Model)
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                <button type="submit" class="btn yellow-gold">Submit</button>
            </div>
        }
    </div>
</div>