@model Operando_AdministrationConsole.Models.BdaSchedule

@using (Html.BeginForm("AddSchedule", "PspAnalyst", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="pull-left">
        @Html.Partial("ModelEditors/ScheduleEditor", Model)
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-circle yellow-gold btn-sm">Add <i class="fa fa-plus"></i></button>
    </div>

    <div class="clearfix"></div>
}