 
@{
    ViewBag.MenuSection = "PSP Analyst";
    ViewBag.Title = "Data Extracts (configuration)";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}

<!-- BEGIN PAGE BASE CONTENT -->
<div class="portlet light portlet-fit bordered">
    <div class="portlet-body font-grey-gallery">
        Blank page template to use as a base for any custom page
    </div>
</div>
<!-- END PAGE BASE CONTENT -->


@section PagePluginStyles {

}

@section PageStyles {

}

@section PagePlugins {

}

@section PageScripts {

}


