
@{
    ViewBag.MenuSection = "PSP Analyst";
    ViewBag.Title = "OSP Compliance";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}

<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-xs-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered ">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">OSPs</span>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item"> <a href="@Url.Action("PrivacyPolicy", "PspAnalyst")">OSP-A</a> </li>
                <li class="list-group-item"> OSP-B </li>
                <li class="list-group-item"> OSP-C </li>
            </ul>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->


@section PagePluginStyles {

}

@section PageStyles {

}

@section PagePlugins {

}

@section PageScripts {

}


