
@{
    ViewBag.MenuSection = "PSP Analyst";
    ViewBag.Title = "Data Protection Regulations";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}

<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-xs-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Data Protection Regulations</span>
                </div>
            </div>
            <div class="portlet-body">
                <p>Use this page to update and add regulations to the platform.</p>
                <h3>Regulations</h3>
                <div class="actions text-right">
                    <button type="button" class="btn btn-circle yellow-gold btn-sm">Add <i class="fa fa-plus"></i></button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Legislation Sector</th>
                                <th>Private Information Source</th>
                                <th>Private Information Type</th>
                                <th>Action</th>
                                <th>Required Consent</th>
                                <th style="min-width: 120px;"><!-- ACTION COLUMN --></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="bs-select form-control" multiple>
                                        <option>Sector 1</option>
                                        <option>Sector 2</option>
                                        <option>Sector 3</option>
                                        <option selected>Sector 4</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="bs-select form-control" multiple>
                                        <option selected>Source A</option>
                                        <option>Source B</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="bs-select form-control" multiple>
                                        <option selected>Info A</option>
                                        <option>Info B</option>
                                        <option>Info C</option>
                                        <option>Info D</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Enter text">
                                </td>
                                <td>
                                    <select class="bs-select form-control">
                                        <option selected>Yes</option>
                                        <option>No</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-circle">
                                        <button type="button" class="btn btn-outline green btn-sm">Save</button>
                                        <button type="button" class="btn btn-outline red btn-sm">Undo</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sector 3
                                </td>
                                <td>
                                    Source A
                                </td>
                                <td>
                                    Info B
                                </td>
                                <td>
                                    Action A
                                </td>
                                <td>
                                    Yes
                                </td>
                                <td>
                                    <div class="btn-group btn-group-circle">
                                        <button type="button" class="btn btn-outline green btn-sm">Edit</button>
                                        <button type="button" class="btn btn-outline red btn-sm" data-toggle="confirmation" id="bs_confirmation_demo_1" data-original-title="Are you sure ?" data-placement="left">Delete</button>
                                        <!-- All events from Bootstrap Popover are available but suffixed with bs.confirmation. See assets\pages\scripts\ui-confirmations.js -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sector 1
                                </td>
                                <td>
                                    Source B
                                </td>
                                <td>
                                    Info A
                                </td>
                                <td>
                                    Action D
                                </td>
                                <td>
                                    Yes
                                </td>
                                <td>
                                    <div class="btn-group btn-group-circle">
                                        <button type="button" class="btn btn-outline green btn-sm">Edit</button>
                                        <button type="button" class="btn btn-outline red btn-sm" data-toggle="confirmation" data-original-title="Are you sure ?" data-placement="left">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="actions text-right">
                    <button type="button" class="btn btn-circle yellow-gold btn-sm">Add <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->


@section PagePluginStyles {
    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
}

@section PageStyles {

}

@section PagePlugins {
    <script src="~/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
}

@section PageScripts {
    <script src="~/assets/pages/scripts/ui-confirmations.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-sweetalert.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
}

