
        .table-responsive>.fixed-column {
            position: absolute;
            display: inline-block;
            width: auto;
            border-right: 1px solid #ddd;
            background-color: #fff;
        }

		table .collapse.in {
		    display: table-cell !important;
		}
        
        @media (max-width: 768px) {
           .table-responsive>.fixed-column {
              display: none;
           }
        }
        .td-center {
            text-align: center;
            vertical-align: middle;
        }