
@{
    ViewBag.MenuSection = "OSP Admin";
    ViewBag.Title = "Review Policy";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}

<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Regulation Report</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">Access Policy complies with Regulation X</div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col2">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-outline btn-circle yellow-gold btn-sm">View <i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>*@
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">Data Request complies with Regulation Y</div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col2">
                                <div class="text-right">
                                    <button type="button" class="btn btn-outline btn-circle yellow-gold btn-sm">View <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>*@
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">Data usage A.B by Z doesn't comply with</div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col2">
                                <div class="text-right">
                                    <button type="button" class="btn btn-outline btn-circle yellow-gold btn-sm">View <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>*@
                        </li>
                    </ul>
                </div>
                <div class="scroller-footer">
                    @*<div class="btn-arrow-link pull-right">
                        <a href="javascript:;">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>*@
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">OSP Report</span>
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-circle yellow-gold ">Notify OSP</button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 215px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">  
                        <li class="double-action-feed">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="fa fa-key"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> Role A Read Identity Data</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="btn-group btn-group-circle">
                                    <button type="button" class="btn btn-outline grey-gallery btn-sm">Edit</button>
                                    <button type="button" class="btn btn-outline red-mint btn-sm">Delete</button>
                                </div>
                            </div>
                        </li>
                        <li class="double-action-feed">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="fa fa-key"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            <select class="form-control">
                                                <option>Example notification text 1</option>
                                                <option>Example notification text 2</option>
                                                <option>Example notification text 3</option>
                                                <option>Example notification text 4</option>
                                                <option>Example notification text 5</option>
                                            </select>
                                        </div>
                                        @*<div class="desc">Example notification text</div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="btn-group btn-group-circle">
                                    <button type="button" class="btn btn-outline blue-madison btn-sm">Save</button>
                                    <button type="button" class="btn btn-outline yellow-gold btn-sm">Undo</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="text-right">
                        <button type="button" class="btn btn-circle yellow-gold btn-sm">Add <i class="icon-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Subscribed User Policies</span>
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-circle yellow-gold ">Notify All</button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li class="double-action-feed">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> User-ID 1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="btn-group btn-group-circle">
                                    <button type="button" class="btn btn-outline yellow-gold btn-sm">View</button>
                                    <button type="button" class="btn btn-outline yellow-gold btn-sm">Notify</button>
                                </div>
                            </div>
                        </li>
                        <li class="double-action-feed">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-default">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">User-ID 2</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="btn-group btn-group-circle">
                                    <button type="button" class="btn btn-outline yellow-gold btn-sm">View</button>
                                    <button type="button" class="btn btn-outline yellow-gold btn-sm">Notify</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="scroller-footer">
                    
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->


@section PagePluginStyles {

}

@section PageStyles {

}

@section PagePlugins {

}

@section PageScripts {

}
