@{
    int numPendingNotifications = 7;


    bool allView = false;
    bool normal_user = false;
    bool osp_admin = false;
    bool psp_analyst = false;
    bool psp_admin = false;
    bool regulator = false;

    if (Session["Usertype"] == null)
    {
        //
        allView = true;
    }
    else
    {
        switch (Session["Usertype"].ToString())
        {
            case "normal_user":
                normal_user = true;
                break;
            case "osp_admin":
                osp_admin = true;
                break;
            case "psp_analyst":
                psp_analyst = true;
                break;
            case "psp_admin":
                psp_admin = true;
                break;
            case "regulator":
                regulator = true;
                break;
            default:
                allView = true;
                break;
        }
    }

}





<li class="separator hide"> </li>
@if (allView || normal_user || osp_admin || psp_analyst || psp_admin)
{

<!-- BEGIN NOTIFICATION DROPDOWN -->
<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
<!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
<!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
<li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-bell"></i>
        <span class="badge badge-operando-info"> @numPendingNotifications.ToString() </span>
    </a>
    <ul class="dropdown-menu">
        <li class="external">
            <h3>
                <span class="bold">@numPendingNotifications.ToString() pending</span> notifications
            </h3>
            <a href="@Url.Action("Notifications", "Dashboard")">view all</a>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> New user registered.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> Server #12 overloaded.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> Server #2 not responding.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> Application error.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> Database overloaded 68%.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> A user IP blocked.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> Storage Server #4 not responding.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> System Error.
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="time">2016-10-09 16:32</span>
                        <span class="details">
                            <span class="label label-sm label-icon label-warning">
                                <i class="icon-bell"></i>
                            </span> Storage server failed.
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
}
<!-- END NOTIFICATION DROPDOWN -->