@{ 
    string userName = "John";
    string userSurname = "Doe";
    //string userName = Session["Username"].ToString();
    //string userSurname = "";

    //string avatarUrl = "~/assets/layouts/operando/img/avatar_operando.png";

}



<li class="separator hide"> </li>
<!-- BEGIN USER LOGIN DROPDOWN -->
<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
<li class="dropdown dropdown-user dropdown-dark">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <span class="username username-hide-on-mobile"> @userName @userSurname </span>
        @*<img alt="" class="img-circle" src="@avatarUrl" />*@
        <img alt="" class="img-circle" src="~/assets/layouts/operando/img/avatar_operando.png" />
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="@Url.Action("UserProfile", "Dashboard")">
                <i class="icon-user"></i> My Profile
            </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="@Url.Action("Lock", "Access")">
                <i class="icon-lock"></i> Lock Screen
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login","Access")">
                <i class="icon-key"></i> Log Out
            </a>
        </li>
    </ul>
</li>
<!-- END USER LOGIN DROPDOWN -->