<!--Created by IT Innovation Centre, Christopher Coles, 06/09/2017-->
@{
    bool canEdit = Session["UserType"]?.ToString() == "osp_admin";

//    ViewBag.MenuSection = canEdit ? "OSP Admin" : "Data Subject";
    ViewBag.Title = "Update Policy";
    Layout = "~/Views/Shared/_LayoutOperando.cshtml";
}
@using Operando_AdministrationConsole.Models;
@using eu.operando.core.pdb.cli.Model;
@using Operando_AdministrationConsole.Models.DataSubjectModels;
@*model OSPConsents*@


<html>
    <head>
    </head>
<body>
    <header>
        <button id="recordbutton" onclick="loadRecords()">Change to records</button>
        <button id="categorybutton" onclick="loadCategories()">Change to categories</button>
    <script>
        
         function loadRecords() {
            $("#displayarea").load('@Url.Action("DisplayRecords", "OspAdmin")');
            $("#displayarea").show();
            $("#displayarea2").hide();

        }
        function loadCategories() {
            $("#displayarea2").load('@Url.Action("DisplayCategories", "OspAdmin")');
            $("#displayarea2").show();
            $("#displayarea").hide();
        } 
        window.onload = function () {
            loadRecords();  
        };
    </script>
    </header>
    <div id="displayarea">

    </div>
    <div id="displayarea2">

    </div>
</body>
</html>
